body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #fff0f5;
}

.botao-animado {
    position: relative;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #ff69b4;
    cursor: pointer;

    
    animation: moverBotao 4s infinite alternate;
}


@keyframes moverBotao {

    0% {
        left: 0;
        background-color: #ff69b4; 
    }

    50% {
        background-color: #ff85c1; 
    }

    100% {
        left: 300px;
        background-color: #ff1493; 
    }
}